@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #dadada;
}

a{
    text-decoration:none;
    color: inherit;
}

nav{
    background: #131921;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #fff;
}